!!! 5
html
  head
    title Space Rocks
    script(type='text/javascript', src='/lib/underscore-1.4.4.min.js')
    script(type='text/javascript', src='/lib/raphael-2.1.0.min.js')
    script(type='text/javascript', src='/lib/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/js/utilities.js')
    script(type='text/javascript', src='/js/game.js')
    script(type='text/javascript', src='/js/sound-system.js')
    script(type='text/javascript', src='/js/ship.js')
    script(type='text/javascript', src='/js/menu.js')
    script(type='text/javascript', src='/js/main.js')
    script(type='text/javascript', src='/js/bullet.js')
    script(type='text/javascript', src='/js/asteroid.js')
    script(type='text/javascript', src='/js/key-events.js')
    script(type='text/javascript', src='/js/alien.js')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/layout.css')
  body
    #background
      #container
        include heading
	include sidebars
        #canvas.centered
          #overlay
            include menu
            include scores