#scores.hidden
  h1 High Scores
  table
    thead
      tr
        th Player
        th Score
    tbody
      each highScore in highScores
        tr
          td= highScore.name
          td= highScore.score
  #back Back