#sidebar-left 
  h3 Instructions
  p
  | Your mission, if you choose to accept it, is to defend your ship from the perils of space.
  | Dodging and destroying impending Asteroids and evil Aliens will be your main goal.
  | You are Earths last chance. Are You Ready?
#sidebar-right
  h3 Controls
  ul
    li 
      .button &harr;
      Turn Spaceship
    li 
      .button &#8597;
      = "Accelerate Ship"
    li 
      .button.space Space
      Fire bullets
    li
      .button p
      Pause Game